{% extends "_layouts/cp" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% set title = "Content Settings" %}
{% set selectedSubnavItem = 'content' %}

{% if selectableSites is not defined %}
    {% if siteIds is defined %}
        {% set selectableSites = craft.app.sites.getEditableSites()|filter(s => s.id in siteIds) %}
    {% else %}
        {% set selectableSites = craft.app.sites.getEditableSites() %}
    {% endif %}
{% endif %}

{% if selectedSite is not defined %}
    {% if selectedSiteId is defined %}
        {% set selectedSite = craft.app.sites.getSiteById(selectedSiteId) %}
    {% elseif requestedSite and requestedSite in selectableSites %}
        {% set selectedSite = requestedSite %}
    {% else %}
        {% set selectedSite = selectableSites|length ? selectableSites|first : craft.app.sites.getPrimarySite() %}
    {% endif %}
{% endif %}

{% set crumbs = (crumbs ?? [])|unshift({
    id: 'site-crumb',
    icon: 'world',
    iconAltText: 'Site'|t('app'),
    label: selectedSite.name|t('site'),
    menu: {
        items: siteMenuItems(selectableSites, selectedSite),
        label: 'Select site'|t('app')
    }
}) %}

{% block content %}
    <div id="content-vue-admin-table"></div>
{% endblock %}

{% js %}
    const columns = [
    { name: '__slot:title', title: Craft.t('app', 'Name')},
    { name: 'entries', title: Craft.t('app', 'Entries') },
    { name: 'type', title: Craft.t('app', 'Type') },
    {
        name: 'llmTitle',
        title: Craft.t('site', 'LLM Title'),
        callback: function(value) {
            if (value) {
                return '<span data-icon="check" title="'+Craft.t('app', 'Yes')+'"></span>';
            }

            return '<span data-icon="xmark" title="'+Craft.t('app', 'No')+'"></span>';
        }
    },
    {
        name: 'llmDescription',
        title: Craft.t('site', 'LLM Description'),
        callback: function(value) {
            if (value) {
            return '<span data-icon="check" title="'+Craft.t('app', 'Yes')+'"></span>';
            }

            return '<span data-icon="xmark" title="'+Craft.t('app', 'No')+'"></span>';
        }
    }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#content-vue-admin-table',
        emptyMessage: 'No content settings exist yet.',
        tableData: {{ settings|json_encode|raw }}
    });
{% endjs %}
