{# @var plugin \samuelreichor\llmify\Llmify #}
{# @var settings \samuelreichor\llmify\models\Settings #}

{% import '_includes/forms.twig' as forms %}

{{ forms.textField({
    label: 'Cache TTL',
    instructions: 'How long to cache the llmify tag output, in seconds.',
    id: 'cacheTtl',
    name: 'cacheTtl',
    value: settings.cacheTtl,
    errors: settings.getErrors('cacheTtl')
}) }}

<hr>

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('llmify/cache/clear') }}
    <input type="submit" class="btn submit" value="Clear Llmify Cache">
</form>
